.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.headerCon{
    width:96vw;
    height:50px;
    background-color: #7f4bf5;
}
.loginCon{
    float:right;
    line-height:50px;
    margin-right:50px;
    cursor:pointer;
    color:#fff
}
.logoCon{
    float:left;
    height:50px;
    width:100px;
    line-height:50px;
    font-size:32px;
    margin-left:100px ;
    color:#FFF

}

/* .languageSelect{
    width:80px;
    height:30px;

}
.languageOption{
    width: 80px;
    height:28px;
    line-height:28px
} */