.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.picCon1{
    
}
.changeBtn{
    height:35px;
    background:#7f4bf5;
    margin-top: 30px;
    margin-bottom:30px;
    cursor:pointer;
    border-radius:6px;
    text-align: center;
    line-height: 35px;
    color:#FFF;
}
.submit{
        width:100px;
        height:35px;
        text-align: center;
        line-height:35px;
        color:#fff;
        background:#7f4bf5;
        cursor:pointer;
        border-radius: 4px;
        margin-left:20px;
        margin-top:10px
}