.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.informationCon{
    width:96vw;
    height:800px;
    margin:0 auto
}
.tabBanner{
    width:900px;
    margin-top:30px;
    margin:0 auto
}
.tabBanner div{
    float:left;
    width:300px;
    height:38px;
    text-align: center;
    line-height: 38px;
    cursor:pointer

}

.baseInfoCon{
    width:96vw;
    height:34vw;
    text-align:center;
    display:flex;
    flex-flow: column;
    float:left;
    overflow: hidden;
    z-index: 10;
     background:#FFF;
    position: absolute;


}
.baseInfoConMb{
    width:96vw;
    height:90vw;
    text-align:center;
    display:flex;
    flex-flow: column;
    float:left;
    overflow: hidden;
    z-index: 10;
     background:#FFF;
    position: absolute;
}
.passportPicCon{
    width:96vw;
    height:34vw;
    float:left;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    background:#FFF
}
.passportPicConMb{
    width:96vw;
    height:90vw;
    float:left;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    background:#FFF
}
.signCon{
    width:96vw;
    height:30vw;
    float:left;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    background:#FFF
}
.signConMb{
    width:96vw;
    height:90vw;
    float:left;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    background:#FFF
}
.completeCon{
    width:96vw;
    height:34vw;
    float:left;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    background:#FFF;
    font-size:32px;
    text-align: center;
    line-height:30vw
}
.completeConMb{
    width:96vw;
    height:90vw;
    float:left;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    background:#FFF;
    font-size:32px;
    text-align: center;
    line-height:30vw
}
.banConshow{
    display: block;
}
.banConhide{
    display: none;
}
.stepBtnCon{
    text-align: center;
    margin-top:35vw;
    margin-bottom:5vw
}
.stepBtnConMb{
    text-align: center;
    margin-top:96vw;
    margin-bottom:5vw
}
.consumerInfoCon{
    margin-top:20px
}
.consumerInfoConMb{
    margin-top:9vw
}
.consumerName,.consumerProfession,.consumerAddress,.faccommodation,.destination{
    width:22vw;
}
.consumerNameMb,.consumerProfessionMb,.consumerAddressMb,.faccommodationMb,.destinationMb{
    width:50vw;
}

.videoCon{
    float:left;
    margin:3vw 0 0 3vw;
    border-radius: 10px;
    overflow: hidden;
    height:300px;
    width:300px;
    
    border:1px dashed #666;
    position: relative;
}
.videoConLabel{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 32px;
    color:#666;
    margin-left:-46px;
    margin-top:-10px;

}


.videoCanvasCon{
    float:left;
    border-radius: 10px;
    overflow: hidden;
    height:300px;
    width:300px;
    border:1px dashed #666

}
.videoCanvasConMb{
    float:left;
    border-radius: 10px;
    overflow: hidden;
    height:150px;
    width:150px;
    border:1px dashed #666;
    margin-left:10vw
}
.handkeepPassportCanvasCon{
    float:left;
    border-radius: 10px;
    overflow: hidden;
    height:300px;
    width:300px;
    border:1px dashed #666
}
.handkeepPassportCanvasConMb{
    float:left;
    border-radius: 10px;
    overflow: hidden;
    height:150px;
    width:150px;
    border:1px dashed #666;
    margin-left:10vw
}
.btnCon{
    float:left;
    margin:3vw 0 0 3vw;
    width:16vw;
    height:22vw;

}
.openCamera{
    width:129px;
    height:40px;
    background:#7f4bf5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 40px;
    color:#FFF;
    text-align: center;
    margin:3vw 0 0 3vw;
    cursor: pointer;
}
.takephoto,.takeHandKeepPhoto{
    width:129px;
    height:40px;
    background:#7f4bf5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 40px;
    color:#FFF;
    text-align: center;
    margin:4vw 0 0 3vw;
    cursor: pointer;
}

.signRegion{
    width: 600px;
    border:1px solid #666;
    text-align: center;
    border-radius: 20px;
    margin:20px 0 20px 680px;
    overflow: hidden;
    
}

.signRegionComplete{
    width: 600px;
    height:240px;
    border:1px solid #666;
    text-align: center;
    border-radius: 20px;
    margin:20px auto;
    overflow: hidden;
    z-index: -8;
    position: absolute;
    left: 50%;
    margin-left: -626px;
}



.signRegionMb{
    border:1px solid #666;
    text-align: center;
    border-radius: 20px;
    margin:20px auto;
    overflow: hidden;
}
.signControl{
    width:39vw;
    height:5vw;
    margin:0 auto
}
.signControlMb{
    width:66vw;
    height:5vw;
    margin:0 auto
}
.clearSign{
    width:9vw;
    height:2.6vw;
    float:left;
    background:#7f4bf5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 2.6vw;
    color:#FFF;
    text-align: center;
    cursor: pointer;
    margin-left:9vw;
}
.takeSign{
    width:9vw;
    height:2.6vw;
    float:left;
    background:#7f4bf5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 2.6vw;
    color:#FFF;
    text-align: center;
    cursor: pointer;
    margin-left:3vw;
}


.clearSignMb{
    width:18vw;
    height:8vw;
    float:left;
    background:#7f4bf5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 8vw;
    color:#FFF;
    text-align: center;
    cursor: pointer;
    margin-left:9vw;
}
.takeSignMb{
    width:24vw;
    height:8vw;
    float:left;
    background:#7f4bf5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 8vw;
    color:#FFF;
    text-align: center;
    cursor: pointer;
    margin-left:12vw;
}

.progress{
    width:96vw;
    height:3vw;
}
.progressMb{
    width:96vw;
    height:8vw;
}
.peoUnit{
    width:2vw;
    height:1vw;
    background:#666;
    border-radius:4px;
    float:left;
    margin-top:1vw;
    margin-left:4vw;
    cursor:pointer
}
.peoUnitMb{
    width:5vw;
    height:2.6vw;
    background:#666;
    border-radius:4px;
    float:left;
    margin-top:1vw;
    margin-left:4vw;
    cursor:pointer
}
.completeInfomation{
    float:right;
    width:6vw;
    height:1.6vw;
    line-height:1.6vw;
    border-radius:3px;
    background:#7f4bf5;
    margin:1vw 2vw 0 0;
    color:#FFF;
    text-align:center;
    cursor:pointer;
    font-size:1vw
}
.completeInfomationMb{
    width:80vw;
    height:10vw;
    line-height:10vw;
    border-radius:3px;
    margin-left:10vw;
    float:left;
    background:#7f4bf5;
    color:#FFF;
    text-align:center;
    cursor:pointer;

}