/****************************数据服务**********************************/
.serviceCon{
    padding:4vw;
    text-align: left;
    width:100%;
    height:0vh;
    background-color: red;
  
}
.loginService{
    /* width:80vw; */
    height:85vh;
    margin:0 auto;


}

.loginLeftPicCon{
     width:40vw;
    height:30vw; 
    float:left;
    margin:3vw 0 0 10vw
}
.loginRightCon{
    float:right;
    width:26vw;
    height:65vh;
    margin:3vw 6vw 0 10vw;
    text-align: center;
}
.registerBtnCon{
    width:18vw;
    height:3vw;
    background:#7f4bf5;
    margin:0 auto;
    line-height: 3vw;
    border-radius: 4px;
    margin-top:8vw;
    color:#FFF;
    cursor:pointer;
}

.infoCon{
    margin-top: 5vw;
}

.iptText{
    width:18vw
}



















@media screen and (max-width: 320px) { 
 
}
@media screen and (min-width: 321px) and (max-width: 360px) {  

}

@media screen and (min-width: 412px) and (max-width: 515px) {  

}

