.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.informationCon{
    width:100vw;
    height:800px;
    background-color: yellow;
    margin:0 auto
}
.tabBanner{
    width:900px;
    margin-top:30px;
    margin:0 auto
}
.tabBanner div{
    float:left;
    width:300px;
    height:38px;
    background:greenyellow;
    text-align: center;
    line-height: 38px;
    cursor:pointer

}

.baseInfoCon{
    width:100vw;
    height:30vw;
    text-align:center;
    display:flex;
    flex-flow: column;
    float:left;
    overflow: hidden;
    z-index: 10;
     background:#FFF;
    position: absolute;


}

.passportPicCon{
    width:100vw;
    height:30vw;
    float:left;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    background:#FFF
}

.signCon{
    width:100vw;
    height:30vw;
    float:left;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    background:#FFF
}
.banConshow{
    display: block;
}
.banConhide{
    display: none;
}
.stepBtnCon{
    text-align: center;
    margin-top:33vw;
    margin-bottom:5vw
}
.consumerInfoCon{
    margin-top:5vw
}
.consumerName,.consumerProfession,.consumerAddress{
    width:22vw;
 
}

.videoCon{
    float:left;
    margin:3vw 0 0 3vw;
    border-radius: 10px;
    overflow: hidden;
    height:22vw;
    width:22vw;
    
    border:1px dashed #666;
    position: relative;
}
.videoConLabel{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 32px;
    color:#666;
    margin-left:-46px;
    margin-top:-10px;

}


.videoCanvasCon{
    float:left;
    margin:3vw 0 0 3vw;
    border-radius: 10px;
    overflow: hidden;
    height:22vw;
    width:22vw;
    border:1px dashed #666

}
.handkeepPassportCanvasCon{
    float:left;
    margin:3vw 0 0 3vw;
    border-radius: 10px;
    overflow: hidden;
    height:22vw;
    width:22vw;
    border:1px dashed #666
}
.btnCon{
    float:left;
    margin:3vw 0 0 3vw;
    width:16vw;
    height:22vw;

}
.openCamera{
    width:129px;
    height:40px;
    background:#3f51b5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 40px;
    color:#FFF;
    text-align: center;
    margin:3vw 0 0 3vw;
    cursor: pointer;
}
.takephoto,.takeHandKeepPhoto{
    width:129px;
    height:40px;
    background:#3f51b5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 40px;
    color:#FFF;
    text-align: center;
    margin:4vw 0 0 3vw;
    cursor: pointer;
}

.signRegion{
    width: 600px;
    border:1px solid #666;
    text-align: center;
    border-radius: 20px;
    margin:20px auto;
    overflow: hidden;
}
.signControl{
    width:39vw;
    height:5vw;
    margin:0 auto
}
.clearSign{
    width:9vw;
    height:2.6vw;
    float:left;
    background:#3f51b5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 2.6vw;
    color:#FFF;
    text-align: center;
    cursor: pointer;
    margin-left:9vw;
}
.takeSign{
    width:9vw;
    height:2.6vw;
    float:left;
    background:#3f51b5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 2.6vw;
    color:#FFF;
    text-align: center;
    cursor: pointer;
    margin-left:3vw;
}